.job {
    background-color: white;
    color: rgb(114, 113, 113);
    height: 150px;
    display: flex;
    margin-bottom: 40px;
    flex-direction: row;
    border-color: black;
    border-width: 1px;
    position: relative;
    filter:
        drop-shadow(20px 20px 30px rgba(255, 0, 0, 0.5));
}

.logo {
    background-image: url("../../images/company_logo.png");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    opacity: 1;
}

.job .background {
    width: 200px;
    margin-left: -200px;
    opacity: 0.25;
}

.contents {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.job .contents .job-title {
    color: rgb(239, 79, 79);
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
}

.job .contents .job-description {
    display: flex;
}

.job .contents .job-place,
.job-company,
.job-salary {
    margin-top: 50px;
    flex: 1;
    font-size: 20px;
    margin-bottom: 10px;
}

.job .contents .job-salary {
    margin-bottom: 0px;
}