.job-title-container {
    height: 300px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-style: bold;
}

.job-title-container .job-title-detail {
    color: rgb(64, 64, 64);
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
}

.job-title-container .job-company-detail {
    color: rgb(88, 88, 88);
    margin-top: 20px;
    font-size: 30px;
}

hr {
    margin-top: 20px;
    border-top: 3px solid red;
    width: 100px;
    border-radius: 2px;
}

.job-title-container .job-place-detail {
    color: rgb(155, 155, 155);
    margin-top: 50px;
}



.job-details-container{
    background-color: white;
    height: 400px;
    padding: 80px 50px 150px 80px;
    display: flex;
    flex-direction: row;
}

.job-details-container .left-section {
    flex: 1;
}

.job-description-detail .job-description-detail-title {
    color: rgb(64, 64, 64);
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.job-description-detail .job-description-detail-detail {
    background-color: rgb(243, 243, 243);
    margin-top: 10px;
    display: flex;
}

.line {
    background-color: rgb(239, 79, 79);
    width: 30px;
}

.text {
    margin-left: 10px;
    padding: 15px 0px 15px 0;
}

.job-expire-date {
    color: rgb(75, 75, 75);
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.job-salary-detail {
    color: rgb(47, 193, 193);
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.job-requirements-detail-title {
    color: rgb(64, 64, 64);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.job-requirements-detail-detail {
    display: flex;
    margin-top: 10px;
}

.job-requirements-detail-detail .line {
    background-color: rgb(207, 207, 102);
}

.apply-button {
    background-color: white;
    border-color: rgb(27, 184, 27);
    border-style: solid;
    border-radius: 5px;
    color: rgb(27, 184, 27);
    margin-top: 30px;
    height: 40px;
    width: 300px;
    margin-left: 150px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercasec;
    transition: background-color 0.15s;
    cursor: pointer;
}

.apply-button:hover {
    background-color: rgb(27, 184, 27);
    color: white;
}

.job-details-container .right-section {
    flex: 0.5;
    margin-left: 100px;
}

.job-review-container {
    background-color: cyan;
    height: 400px;
}